<form
  class="form-horizontal"
  autocomplete="off"
  #resetPasswordModal="ngForm"
  (ngSubmit)="resetPassword()"
>
  <abp-modal-header
    [title]="'ResetPassword' | ecTranslate"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="newPassword">
        {{ "NewPassword" | ecTranslate }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="NewPassword"
          id="newPassword"

          [(ngModel)]="resetPasswordDto.newPassword"
        />
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="isLoading"
    [saveDisabled]="!resetPasswordModal.form.valid || isLoading"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
