p {
  margin: 0;
  padding: 0;
}

.wrapper_login {
  background-color: #fbf7ec;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrapper_login--logo {
  margin-top: 43px;
}

.bottom_login {
  padding: 13px 114px;
  border: 1px solid #d0d5dd;
  background-color: #ffffff;
  color: #004037;
  border-radius: 6px;
  display: inline-block;
}

.wrapper_login--box {
  margin-top: 40px;
}

.wrapper_login--box h3 {
  color: #004037;
  font-size: 36px;
}

.wrapper_login--text{
  margin-top: 12px;
  color: #026351;
  font-size: 16px;
}

.wrapper_login--btn {
  overflow: hidden;
  margin: 0 auto;
  width: 448px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}



.login_btn--text {
  margin: 0;
  padding: 0;
  padding: 12px 0;
  position: relative;
  color: #999999;
}

.login_btn--text::after {
  margin-left: 8px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  content: " ";
  width: 200%;
  height: 1px;
  background-color: #999999;
}

.login_btn--text::before {
  margin-right: 8px;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  position: absolute;
  content: " ";
  width: 200%;
  height: 1px;
  background-color: #999999;
}

.login_btn--app {
  display: flex;
  gap: 10px 12px;
}

.wrapper_login--img {
  margin-top: 70px;
}

:host ::ng-deep .mx-auto {
  position: relative;
}

:host ::ng-deep .nav-item {
  margin-right: 10px;
}


.active{
  flex-direction: column !important;
}

.btn_tenant{
  width: 100% !important;
}

.btn_login{
  width: 100% !important;
}

@media only screen and (max-height: 800px), (max-width: 900px) {
  .wrapper_login--img {
    margin-top: auto;
  }
}

@media only screen and (max-width: 1265px) {
  .wrapper_login--img {
    margin-top: auto;
  }
  .wrapper_login--img svg {
    width: 100%;
    height: 100%;
  }
}
