<mat-spinner *ngIf="isConverting; else elseBlock"></mat-spinner>
<ng-template #elseBlock>
  <div class="home p-4">
    <div class="container">
      <div class="box-upload">
        <div (files)="filesDropped($event)">
          <div class="border" style="padding: 8px">
            <div class="drop_box">
              <header class="text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="120"
                  height="120"
                  viewBox="0 0 200 200"
                  fill="none"
                >
                  <g opacity="0.3">
                    <path
                      d="M190.16 143.287C190.16 155.094 180.612 164.642 168.703 164.642C168.498 164.642 166.752 164.642 153.919 164.642C144.987 164.642 130.716 164.642 107.925 164.642H97.0419C82.7712 164.95 71.3752 153.554 71.3752 139.796C71.3752 125.936 82.8739 114.438 97.3499 115.156C109.773 76.3484 166.65 81.7898 171.475 121.932C182.152 123.267 190.16 132.302 190.16 143.287Z"
                      fill="url(#paint0_linear_236_4744)"
                    />
                    <path
                      d="M168.703 164.642C180.51 164.642 190.16 155.094 190.16 143.287C190.16 131.48 180.51 121.932 168.703 121.932C156.896 121.932 147.246 131.48 147.246 143.287C147.246 155.094 156.896 164.642 168.703 164.642Z"
                      fill="url(#paint1_linear_236_4744)"
                    />
                    <path
                      d="M133.694 164.847C154.74 164.847 171.886 147.804 171.886 126.758C171.886 105.711 154.74 88.6683 133.694 88.6683C112.647 88.6683 95.5019 105.711 95.5019 126.758C95.5019 147.804 112.545 164.847 133.694 164.847Z"
                      fill="url(#paint2_linear_236_4744)"
                    />
                  </g>
                  <g opacity="0.3">
                    <path
                      d="M111.976 109.638C111.976 119.758 103.792 127.942 93.5842 127.942C93.4082 127.942 91.9122 127.942 80.9123 127.942C73.2563 127.942 61.0243 127.942 41.4883 127.942H32.1604C19.9284 128.206 10.1604 118.438 10.1604 106.646C10.1604 94.766 20.0164 84.91 32.4244 85.526C43.0723 52.2621 91.8242 56.9261 95.9602 91.334C105.112 92.478 111.976 100.222 111.976 109.638Z"
                      fill="url(#paint3_linear_236_4744)"
                    />
                    <path
                      d="M93.5843 127.942C103.704 127.942 111.976 119.758 111.976 109.638C111.976 99.518 103.704 91.334 93.5843 91.334C83.4643 91.334 75.1923 99.518 75.1923 109.638C75.1923 119.758 83.4643 127.942 93.5843 127.942Z"
                      fill="url(#paint4_linear_236_4744)"
                    />
                    <path
                      d="M63.5763 128.118C81.6163 128.118 96.3123 113.51 96.3123 95.47C96.3123 77.43 81.6163 62.822 63.5763 62.822C45.5364 62.822 30.8404 77.43 30.8404 95.47C30.8404 113.51 45.4484 128.118 63.5763 128.118Z"
                      fill="url(#paint5_linear_236_4744)"
                    />
                  </g>
                  <g opacity="0.3">
                    <path
                      d="M167.658 63.515C167.658 69.84 162.543 74.955 156.163 74.955C156.053 74.955 155.118 74.955 148.243 74.955C143.458 74.955 135.813 74.955 123.603 74.955H117.773C110.128 75.12 104.023 69.015 104.023 61.645C104.023 54.2201 110.183 48.0601 117.938 48.4451C124.593 27.6551 155.063 30.5701 157.648 52.0751C163.368 52.7901 167.658 57.63 167.658 63.515Z"
                      fill="url(#paint6_linear_236_4744)"
                    />
                    <path
                      d="M156.163 74.955C162.488 74.955 167.658 69.84 167.658 63.5151C167.658 57.1901 162.488 52.0751 156.163 52.0751C149.838 52.0751 144.668 57.1901 144.668 63.5151C144.668 69.84 149.838 74.955 156.163 74.955Z"
                      fill="url(#paint7_linear_236_4744)"
                    />
                    <path
                      d="M137.408 75.065C148.683 75.065 157.868 65.9351 157.868 54.6601C157.868 43.3851 148.683 34.2551 137.408 34.2551C126.133 34.2551 116.948 43.3851 116.948 54.6601C116.948 65.9351 126.078 75.065 137.408 75.065Z"
                      fill="url(#paint8_linear_236_4744)"
                    />
                  </g>
                  <path
                    opacity="0.5"
                    d="M174.896 95.742C177.977 95.742 180.474 93.2449 180.474 90.1646C180.474 87.0843 177.977 84.5873 174.896 84.5873C171.816 84.5873 169.319 87.0843 169.319 90.1646C169.319 93.2449 171.816 95.742 174.896 95.742Z"
                    fill="url(#paint9_linear_236_4744)"
                  />
                  <path
                    opacity="0.5"
                    d="M45.2569 62.2779C47.3605 62.2779 49.0658 60.5726 49.0658 58.469C49.0658 56.3653 47.3605 54.66 45.2569 54.66C43.1533 54.66 41.448 56.3653 41.448 58.469C41.448 60.5726 43.1533 62.2779 45.2569 62.2779Z"
                    fill="url(#paint10_linear_236_4744)"
                  />
                  <path
                    opacity="0.5"
                    d="M44.8488 152.604C46.727 152.604 48.2497 151.081 48.2497 149.203C48.2497 147.325 46.727 145.802 44.8488 145.802C42.9706 145.802 41.448 147.325 41.448 149.203C41.448 151.081 42.9706 152.604 44.8488 152.604Z"
                    fill="url(#paint11_linear_236_4744)"
                  />
                  <g filter="url(#filter0_d_236_4744)">
                    <path
                      d="M146.025 68.8685L146.974 145.257C146.974 147.867 144.838 149.883 142.229 149.883H67.738C65.1285 149.883 62.9934 147.748 62.9934 145.257V47.0431C62.9934 44.4336 65.1285 42.4171 67.738 42.4171H121.708L146.025 68.8685Z"
                      fill="#F0FDF1"
                    />
                    <path
                      d="M121.41 43.0973L145.348 69.1372L146.293 145.257C146.293 145.259 146.293 145.26 146.293 145.261C146.291 147.471 144.484 149.203 142.229 149.203H67.738C65.4929 149.203 63.6736 147.361 63.6736 145.257V47.0431C63.6736 44.8315 65.4814 43.0973 67.738 43.0973H121.41Z"
                      stroke="#21CC33"
                      stroke-width="1.36033"
                    />
                  </g>
                  <path
                    d="M98.617 133.559H97.0907C96.759 133.559 96.4935 133.25 96.4935 132.879C96.4935 132.508 96.759 132.199 97.0907 132.199H98.617C98.9488 132.199 99.2142 132.508 99.2142 132.879C99.2142 133.312 98.9488 133.559 98.617 133.559Z"
                    fill="#BAF8C0"
                  />
                  <path
                    d="M90.0857 133.559H75.6948C75.1579 133.559 74.7283 133.25 74.7283 132.879C74.7283 132.508 75.1579 132.199 75.6948 132.199H90.0857C90.6227 132.199 91.0522 132.508 91.0522 132.879C91.0522 133.312 90.6227 133.559 90.0857 133.559Z"
                    fill="#BAF8C0"
                  />
                  <path
                    d="M111.303 58.741H76.2425C75.4272 58.741 74.7283 58.1132 74.7283 57.3807C74.7283 56.6482 75.4272 56.0204 76.2425 56.0204H111.303C112.119 56.0204 112.818 56.6482 112.818 57.3807C112.818 58.1132 112.119 58.741 111.303 58.741Z"
                    fill="#BAF8C0"
                  />
                  <path
                    d="M89.663 66.903H76.2333C75.4229 66.903 74.7283 66.2752 74.7283 65.5427C74.7283 64.8102 75.4229 64.1824 76.2333 64.1824H89.5472C90.3576 64.1824 91.0522 64.8102 91.0522 65.5427C91.0522 66.2752 90.3576 66.903 89.663 66.903Z"
                    fill="#BAF8C0"
                  />
                  <mask id="path-19-inside-1_236_4744" fill="white">
                    <path
                      d="M121.995 42.4171V64.1336C121.995 67.1837 124.623 69.6237 127.609 69.6237L145.974 68.9436"
                    />
                  </mask>
                  <path
                    d="M121.995 42.4171V64.1336C121.995 67.1837 124.623 69.6237 127.609 69.6237L145.974 68.9436"
                    fill="#BAF8C0"
                  />
                  <path
                    d="M127.609 69.6237V70.9841H127.634L127.659 70.9831L127.609 69.6237ZM120.635 42.4171V64.1336H123.356V42.4171H120.635ZM120.635 64.1336C120.635 67.9839 123.922 70.9841 127.609 70.9841V68.2634C125.324 68.2634 123.356 66.3835 123.356 64.1336H120.635ZM127.659 70.9831L146.024 70.303L145.923 67.5842L127.559 68.2643L127.659 70.9831Z"
                    fill="#21CC33"
                    mask="url(#path-19-inside-1_236_4744)"
                  />
                  <path
                    d="M92.7806 81.2056C96.2214 78.9999 100.28 77.7648 104.603 77.7648C116.425 77.7648 126.042 87.2933 126.042 99.1157C126.042 110.938 116.425 120.467 104.603 120.467C92.7806 120.467 83.1639 110.938 83.1639 99.1157C82.9874 91.6164 86.8694 85.0876 92.7806 81.2056Z"
                    fill="url(#paint12_linear_236_4744)"
                  />
                  <path
                    d="M106.144 89.3584L112.276 96.0614C112.998 96.85 112.998 98.2301 112.276 99.0187C111.555 99.8073 110.292 99.8073 109.481 99.0187L106.685 96.0614V106.905C106.685 108.088 105.783 109.073 104.701 109.073C103.618 109.073 102.716 108.088 102.716 106.905V96.0614L99.9207 99.0187C99.1992 99.8073 97.9365 99.8073 97.1248 99.0187C96.6739 98.5258 96.4935 98.0329 96.4935 97.5401C96.4935 97.0472 96.6739 96.3572 97.1248 96.0614L103.258 89.3584C103.528 89.0626 104.159 88.6683 104.61 88.6683C105.061 88.6683 105.873 88.8655 106.144 89.3584Z"
                    fill="white"
                  />
                  <defs>
                    <filter
                      id="filter0_d_236_4744"
                      x="33.0661"
                      y="27.4535"
                      width="143.835"
                      height="167.321"
                      filterUnits="userSpaceOnUse"
                      color-interpolation-filters="sRGB"
                    >
                      <feFlood flood-opacity="0" result="BackgroundImageFix" />
                      <feColorMatrix
                        in="SourceAlpha"
                        type="matrix"
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                        result="hardAlpha"
                      />
                      <feOffset dy="14.9636" />
                      <feGaussianBlur stdDeviation="14.9636" />
                      <feColorMatrix
                        type="matrix"
                        values="0 0 0 0 0.397708 0 0 0 0 0.47749 0 0 0 0 0.575 0 0 0 0.27 0"
                      />
                      <feBlend
                        mode="normal"
                        in2="BackgroundImageFix"
                        result="effect1_dropShadow_236_4744"
                      />
                      <feBlend
                        mode="normal"
                        in="SourceGraphic"
                        in2="effect1_dropShadow_236_4744"
                        result="shape"
                      />
                    </filter>
                    <linearGradient
                      id="paint0_linear_236_4744"
                      x1="130.768"
                      y1="88.7612"
                      x2="130.768"
                      y2="164.648"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint1_linear_236_4744"
                      x1="168.703"
                      y1="121.932"
                      x2="168.703"
                      y2="164.642"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint2_linear_236_4744"
                      x1="133.694"
                      y1="88.6683"
                      x2="133.694"
                      y2="164.847"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint3_linear_236_4744"
                      x1="61.0683"
                      y1="62.9016"
                      x2="61.0683"
                      y2="127.947"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint4_linear_236_4744"
                      x1="73.2351"
                      y1="87.3932"
                      x2="89.5395"
                      y2="105.225"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#BCCBE1" />
                      <stop
                        offset="0.9942"
                        stop-color="white"
                        stop-opacity="0"
                      />
                    </linearGradient>
                    <linearGradient
                      id="paint5_linear_236_4744"
                      x1="27.775"
                      y1="80.4887"
                      x2="53.472"
                      y2="90.5447"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#E2E8F0" />
                      <stop
                        offset="0.9942"
                        stop-color="white"
                        stop-opacity="0"
                      />
                    </linearGradient>
                    <linearGradient
                      id="paint6_linear_236_4744"
                      x1="135.841"
                      y1="34.3048"
                      x2="135.841"
                      y2="74.9583"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint7_linear_236_4744"
                      x1="156.163"
                      y1="52.0751"
                      x2="156.163"
                      y2="74.955"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint8_linear_236_4744"
                      x1="137.408"
                      y1="34.2551"
                      x2="137.408"
                      y2="75.065"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint9_linear_236_4744"
                      x1="174.896"
                      y1="84.5873"
                      x2="174.896"
                      y2="95.742"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint10_linear_236_4744"
                      x1="45.2569"
                      y1="54.66"
                      x2="45.2569"
                      y2="62.2779"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint11_linear_236_4744"
                      x1="44.8488"
                      y1="145.802"
                      x2="44.8488"
                      y2="152.604"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="white" />
                      <stop offset="1" stop-color="#21CC33" />
                    </linearGradient>
                    <linearGradient
                      id="paint12_linear_236_4744"
                      x1="104.6"
                      y1="77.7648"
                      x2="104.6"
                      y2="120.467"
                      gradientUnits="userSpaceOnUse"
                    >
                      <stop stop-color="#21CC33" />
                      <stop offset="1" stop-color="#004037" />
                    </linearGradient>
                  </defs>
                </svg>
                <h4>
                  {{ "DropOrUploadFileHereToGetStarted" | ecTranslate }}
                </h4>
              </header>
              <p class="m-0">
                {{ "SupportedFormats" | ecTranslate }}: .pdf .doc .docx .xls
                .xlsx .png .jpg .jpeg .txt
              </p>
              <p class="m-0">
                {{ " TheUploadedFileWillBeConvertedToPDFFormat" | ecTranslate }}
              </p>
              <input
                title=""
                (change)="onFileSelected($event)"
                type="file"
                accept=".pdf, .doc, .docx, .xls, .xlsx, .png, .jpg, .jpeg, .txt"
                id="fileID"
                #fileInput
              />
              <div *ngIf="!templateContract; else elseBlock">
                <button
                  class="button mt-3"
                  style="z-index: 1"
                  mat-button
                  [matMenuTriggerFor]="menu"
                >
                  {{ "SelectFile" | ecTranslate }}
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="fileInput.click()">
                    {{ "UploadFile" | ecTranslate }}
                  </button>
                  <button
                    (click)="handleSelectContractTemplate()"
                    mat-menu-item
                  >
                    {{ "UseTemplate" | ecTranslate }}
                  </button>
                </mat-menu>
              </div>
              <ng-template #elseBlock>
                <button
                  class="button mt-3"
                  style="z-index: 1"
                  mat-button
                  (click)="fileInput.click()"
                >
                  {{ "SelectFile" | ecTranslate }}
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="(activeFrom && isUploadComplete) || contractId"
        class="info-contract row mx-2"
        id="info-contract"
      >
        <div class="info-contract-left col-5" *ngIf="contractFile?.length">
          <div *ngIf="!isConverting || activeFrom" class="fileName mt-4 row">
            <i class="fa-solid fa-file-pdf fa-lg mr-2"></i>
            <h4>{{ fileName }}</h4>
          </div>
          <div *ngIf="!isConverting || activeFrom" class="home_form row">
            <form
              id="upload-form"
              [formGroup]="contractForm"
              (ngSubmit)="onSubmitContractForm()"
            >
              <div class="mt-4">
                <mat-form-field appearance="outline" class="contract-input">
                  <mat-label>
                    {{
                      templateContract
                        ? ("TemplateName" | ecTranslate)
                        : ("ContractName" | ecTranslate)
                    }}
                  </mat-label>
                  <input
                    [placeholder]="
                      templateContract
                        ? ('EnterTemplateName' | ecTranslate)
                        : ('EnterContractName' | ecTranslate)
                    "
                    formControlName="name"
                    matInput
                    required
                  />
                </mat-form-field>
              </div>
              <div class="mt-2">
                <mat-form-field
                  *ngIf="!templateContract"
                  appearance="outline"
                  class="contract-input"
                >
                  <mat-label>{{ "ContractCode" | ecTranslate }}</mat-label>
                  <input
                    [placeholder]="'EnterContractCode' | ecTranslate"
                    formControlName="code"
                    matInput
                  />
                </mat-form-field>
              </div>
              <div class="mt-2">
                <mat-form-field
                  *ngIf="!templateContract"
                  appearance="outline"
                  class="contract-input-date position-relative"
                >
                  <mat-label>{{ "ExpriedTime" | ecTranslate }}</mat-label>
                  <input
                    readonly
                    [placeholder]="'EnterExpriedTime' | ecTranslate"
                    formControlName="expriedTime"
                    matInput
                    [matDatepicker]="picker"
                    (dateChange)="onDateChange($event)"
                    [min]="currentDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="mt-4">
                <button
                  type="submit"
                  [disabled]="
                    isClicked ||
                    !contractForm.valid ||
                    isConverting ||
                    !isUploadComplete
                  "
                  mat-raised-button
                  class="button"
                >
                  {{ "Continue " | ecTranslate }}
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="info-contract-right">
          <div
            *ngIf="contractFile?.length"
            class="contract-uploaded border position-relative"
          >
            <img
              class="img-preview"
              src="{{ contractFile?.length && contractFile[0]?.fileBase64 }}"
            />
            <div class="img-preview-overlay">
              <span class="button-preview px-1" (click)="previewContract()">{{
                "Preview" | ecTranslate
              }}</span>
            </div>
            <i
              class="fa-solid fa-circle-xmark icon-x"
              (click)="handleRemoveContract($event)"
            ></i>
            <p class="pl-2 file-name-preview">{{ fileName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
